# Sample config.yaml
#
Auth:
  region: "{{ region }}"
Metrics:
{%- for instance in resources %}
- Namespace: "AWS/EC2"
  MetricName: "CPUUtilization"
  Statistics:
  - "Maximum"
  - "Average"
  Unit: "Percent"
  Dimensions:
    InstanceId: "{{ instance.id }}"
  Options:
    {#- I'm assuming my tag names are safe to use as metric names here #}
    Formatter: 'cloudwatch.%(Namespace)s.{{ instance.tags['Name'] }}.%(MetricName)s.%(statistic)s.%(Unit)s'
    Period: 5
{% endfor %}
